@charset "utf-8";
/* CSS Document */


/*************** 基本 ***************/

body{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 13px;
	line-height: 1.7;
	background-color:#F3F3F3;
}


/*************** 構成 ***************/

#container{
	width:100%;
}
#main{
	width:1100px;
	margin:0 auto;
}
#menu{
	width:260px;
	float:left;
	height:100%;
	position:fixed;
	margin-right:40px;
}
#sp_menu,#sp_header{
	display:none;
}
#contents{
	width: 780px;
	float: right;
	margin: 20px 0px 20px 0px;
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 0px 2px 2px #8A8A8A;
	border-radius: 3px;
	border-collapse: collapse;
}
.content{
	margin-left:20px;
}
.contents_left{
	width:540px;
	float:left;
	margin:0 20px 0 20px;
}
.contents_right{
	width:200px;
	float:right;
}


/*************** デザイン ***************/

h1{
	font-size:17px;
	font-weight:bold;
	margin:0 0 5px -15px;
	letter-spacing:1px;
}
h1:before{
	content:"▼";
	color:#29abe2;
	margin-right:5px;
}
h2{
	margin:10px 0 5px -10px;
	border-bottom:1px solid #000000;
	font-weight:bold;
	font-size:14px;
}
h3{
	background-color:#ffffcc;
	border:1px solid #cccc77;
	border-left:5px solid #cccc77;
	font-size: 15px;
	font-weight:bold;
	/*display:inline;  回り込みを有効にするには h5/h6 を使うこと*/
	margin:10px 0 7px 0;
}
h4{
	font-weight:bold;
	margin:20px 0 0 -10px;
}
h4:before{
	content:"＊";
	margin-right:5px;
}
h5{
	font-weight:bold;
	display:inline;
	margin:10px 0 7px 0;
}
h5:before{
	content:"・";
	margin-right:3px;
}
h6{
	font-size: 15px;
	font-weight:bold;
	display:inline;
	margin:10px 0 7px 0;
}
strong{
	font-weight: bold;
	font-size: 15px;
}
#logo{
	margin:25px 0px 0px 15px;
}
#sp_logo{
	display:none;
}
#description{
	font-size:12px;
	text-align:right;
	margin-bottom:5px;
}
.update_date{
	font-size:10px;
	color:#b3b3b3;
	width:100px;
	margin-right:10px;
}
#copyright{
	font-size:12px;
	color:#B5B5B5;
	text-align:center;
	margin:20px 0 10px 0;
}
.text{
	margin-left:20px;
}
.text img{
	margin-top:10px;
}
.download{
	display:inline;
	color: #ffffff;
	background-color: #29abe2;
	padding: 7px;
	line-height:3;
	margin-right:10px;
	border-radius: 3px;
	width:100px;
	text-align:center;
}
.ad{
	line-height:1.3;
}


/* パンくず */

#breadcrumb{
	text-align:right;
	font-size:11px;
	margin-bottom:10px;
	letter-spacing:1px;
}
#breadcrumb i{
	font-size:14px;
	color:#8B8B8B;
	margin-right:3px;
}


/* リンク設定 */

a{
	border:0;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
a:link{
	color:#2E2E2E;
	text-decoration:underline;
}
a:hover{
	color:#BDBDBD;
	text-decoration:none;
}
a:visited{
	color:#828282;
}
a:active{
	color:#ffffff;
}
a img {
	border:0;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
a img:hover{
    opacity: 0.4;
    filter: alpha(opacity=60);
	transform:translateX(0);
}
.download a:link{
	color:#ffffff;
	text-decoration:none;
}
.download a:hover{
	text-decoration:underline;
}
.download a:visited{
	color:#ffffff;
	text-decoration:none;
}

/* メニュー設定 */

#menu{
	font-size: 40px;
	color: #ffffff;
	font-family: 'Advent Pro', sans-serif;
	line-height: 0.5;
	background-color: #1a1a1a;
	border-right: solid 5px #29abe2;
	box-shadow: 0px -2px 2px #8A8A8A;
	text-shadow: -1px 0 2px #000000;
	-webkit-box-shadow: 0px -2px 2px #8A8A8A;
}
#menu ul{
	padding-left:40px;
}
#menu li{
	padding-top:40px;
}
.menu_comment{
	font-size:12px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
				Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
#menu li a{
	display:block;
	color:#7C7C7C;
	text-decoration:none;
}
#menu li a:visited{
	color:#7C7C7C;
}
#menu li a:hover{
	color:#ffffff;
	transform:translateX(5px);
}
#sp_menu{
	display:none;
}


/* ページトップ */

.pagetop {
	z-index: 100;
	position: fixed;
	right: -50px;
	bottom: 20px;
}
.pagetop a {
	display: block;
	width: 50px;
	height: 50px;
	background-color: #29abe2;
	border-radius: 5px 0px 0px 5px;
	text-align: center;
	color: #ffffff;
	font-size: 24px;
	text-decoration: none;
}


/* テーブル */
table {
	border-collapse: collapse;
	border-top: 1px solid #ccc;
	border-left: 3px solid #369;
	margin: 10px;
}
th {
	border: 1px solid #ccc;
	padding: 10px;
	vertical-align: middle;
	font-weight: bold;
}
tr.head {
	font-weight: bold;
}
td {
	border: 1px solid #ccc;
	padding: 10px;
	vertical-align: middle;
}
ul.circle{
	list-style-type: circle;
	margin-left: 30px;
}
ul.disc{
	list-style-type: disc;
	margin-left: 30px;
}
