//*********************************************************************
//  Aboutページに関するスタイルを定義します。
//********************************************************************/
@charset "UTF-8";


h6 {
  display: block;
  margin-left: -20px;
  cursor: pointer;

  // 折りたたまれているとき
  &::before {
    content: "▼";
  }

  // 展開されているとき
  &.ui-accordion-header-active {
    &::before {
      content: "▲";
    }
  }
}

#member-list {
  margin-left: 20px;
}

.member {
  margin-bottom: 20px;
  margin-left: 20px;
}
