//*********************************************************************
//  コメント欄のスタイルを定義します。
//********************************************************************/
@charset "UTF-8";

// コメント欄
.comments{
  background: #fafafa;
  border: 1px solid #f1f1f1;
  padding: 30px;
  .comment-title,
  .comment-reply-title{
    margin: 0 0 30px;
    background: none;
    border: none;
  }
}
.comment-form-label {
  display: block;
}

.comments-list{
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 40px;
  padding-bottom: 30px;
}
.comment-list {
  margin-bottom: 13px;
}

// コメントヘッダー
.comment-header {
  overflow: hidden;
}

// 投稿者名
.comment-author {
  float: left;
  display: block;
  text-align: left;
  font-weight: 500;
}

// 投稿者名が自分のとき
.comment-author-me {
  font-weight: bold;
}

// 投稿日時と編集ボタン
.comment-info {
  float: right;
  display: block;

  // 投稿日時
  .comment-datetime {
    display: inline-block;
    text-align: right;
    color: $color_date;
  }

  // コメントの編集
  .comment-edit {
    display: inline-block;
    text-align: right;
    margin-left: 10px;
  }
}

// コメント本文
.comment-text {
  padding: 5px 10px;
  margin: 5px 0;
  // background: #f0f7ff7a;
  // border: dashed 2px #5b8bd0;
  background: #ffffff;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);

  p {
    margin: 5px 0;
  }
}

// コメント返信
ul.children {
  list-style-type: none;
  margin: 0 0 0 20px;
}

// コメント返信をキャンセル
#cancel-comment-reply-link {
  margin-left: 10px;
}

// 返信ボタン
.comment-reply-wrapper {
  display: inline-block;
  text-align: right;
  width: 100%;

  .comment-reply {
    display: inline-block;
    text-align: center;
    color: $color_summary_symbol;
    // color: $color_link_active;
    // background-color: $backcolor_button;
    // padding: 3px;
    // margin-bottom: 20px;
    // border-radius: 3px;
    // width: 70px;
    /* background-color: #29abe2; */
    /* padding: 3px; */
    /* margin-bottom: 20px; */
    /* border-radius: 3px; */
    /* width: 70px; */

    a {
      &::before {
        content: " > ";
        display: inline;
      }

      &:link {
        color: inherit;
        text-decoration: none;
  	  }

      &:hover {
        text-decoration: underline;
  	  }

      &:visited {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
