//*********************************************************************
//  目次プラグインに関するスタイルを上書き定義します。
//  これは wp_head(); の実行後に読み込んで下さい。
//********************************************************************/
@charset "UTF-8";


// 目次全体のコンテナー
#ez-toc-container {
  border: 4px double #ddd;
  margin: 2em 0 2em 10%;
  padding: 2em;
}

// 目次タイトルのコンテナー
.ez-toc-title-container {
  margin: 10px 0 10px 0 !important;
}

// 目次タイトル
.ez-toc-title {
  text-align: center !important;

  &::before {
    content: "===";
    margin-right: 10px;
  }

  &:after {
    content: "===";
    margin-left: 10px;
  }
}

// 目次一覧
.ez-toc-list {
  margin: 10px !important;

  a {
    display: block;
    border-bottom: dotted 1px #ccc;
  }

  li {
    font-size: 95%;
    margin-top: 5px !important;
    list-style-type: decimal;
  }
}

// 目次見出し
.ez-toc-section {
  font-weight: bold;

  b {
    font-weight: bold;
  }
}
