//*********************************************************************
//  投稿記事に関するスタイルを定義します。
//********************************************************************/
@charset "UTF-8";
@import "_variables.scss";
@import "comment.scss";


.title-main{
  font-size: 50px;
  font-weight: normal;
  margin: 20px 0 30px;
  letter-spacing: 1px;
  font-family: "Advent Pro", sans-serif;
  text-align: center;
  line-height: 1;
  &::before{
    display: none;
  }
  &::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: $color_summary_symbol;
    margin: 20px auto;
  }
}

.content-description{
  text-align: center;
  margin-bottom: 40px;
  p{
    font-size: 12px;
  }
}


//カテゴリー一覧
.content-category{
  text-align: center;
  background: #f7f7f7;
  padding: 15px 0;
  border: 1px solid #e8e8e8;
  margin: 0 auto 60px;
  width: 80%;
  .title-sub{
    text-align: center;
    font-weight: 400;
    margin: 0;
    font-size: 18px;
    letter-spacing: 0.03em;
    font-family: 'Roboto', sans-serif;
    border: none;
    line-height: 1;
    margin-bottom: 6px;
  }
  .category-list{
    margin: 0;
    font-size: 0;
    li{
      display: inline-block;
      font-size: 13px;
      &:not(:last-child){
        // margin-right: 5px;
        &::after{
          content: "/";
          display: inline;
          margin:0 4px;
        }
      }
    }
  }
}

//記事コンテナ
.post-article{
  position: relative;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 50px;
  padding-bottom: 50px;
  // &:not(:last-child){
  // }
}

//記事タイトル
.post-title {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 20px;
  border: none;
  .update-date{
    vertical-align: middle;
  }
  a,a:link{
    text-decoration: none;
    font-weight: inherit;
  }
}

// カテゴリー
.post-category {
  text-align: right;
  a{
    border: 1px solid $color_summary_symbol;
    text-decoration: none;
    color: $color_summary_symbol;
    padding: 4px 3px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.03em;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity .2s;

    &:hover {
      opacity: .5;
    }
  }
}

// 記事本文
.post-text{
  display: flex;
  margin-bottom: 20px;
  .thumbnail{
    margin-right: 0;
    float: none;
    img{
      border: 1px solid #f1f1f1;
      padding: 7px;
      box-shadow: 0 0 5px rgba(0,0,0,0.05);
    }
  }
  .text{
    p{
      margin:0;
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }
  }
}

// タグ
.post-tag {
  // margin-bottom: 15px;
  font-size: 0;
  margin-bottom: 0;
  a {
    display: inline-block;
    text-align: center;
    color: #a5a5a5 !important;
    background-color: #f7f7f7;
    border: 1px solid #efefef;
    padding: 4px 5px 3px 3px;
    transition: opacity .2s;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 0.03em;
    padding: 4px 5px 3px;
    line-height: 1;
    margin: 0 4px 4px 0;

    &::before {
      display: inline;
      content: "#";
      opacity: .3;
      margin-right: 2px;
    }

    &:link {
      color: inherit;
    }

    &:hover {
      opacity: .7;
    }

    &:visited {
      color: inherit;
    }
  }
}

.content.post{
  .ttl-main{
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0 30px 0px;
    letter-spacing: 1px;
    text-align: center;
    &::before{
      content: none;
    }
    .update-date{
      display: block;
      text-align: center;
      width:auto;
    }
  }
  .post-category {
    text-align: center;
    margin-bottom: 40px;
    a{
      position: relative;
      right: auto;
      top: auto;
    }
  }
  .post-text{
    display: block;
    margin-bottom: 60px;
    h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      padding: 0;
      color: #494949;
      background: none;
      border-left: none;
      border-bottom: 1px solid;
    }
    p + h3 {
      margin-top: 40px;
    }
    .youtube{
      margin-bottom: 40px;
    }
  }
  .post-tag {
    margin-bottom: 30px;
  }
}

// 目次見出し
.ez-toc-section {
  font-weight: bold;

  b {
    font-weight: bold;
  }
}


// ナビゲーター
#navigator {
  width: 100%;
  // overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-flow: row;
  align-items: center;
  margin-top: 50px;
  a{
    text-decoration: none;
    transition: all .2s;
    display: block;
    &:hover{
      opacity: .5;
    }
  }
  .pager-arrow{
    font-size: 30px;
    .fa{
      font-size: 38px;
      color: rgba(154, 154, 154, 0.5);
      text-shadow: 1px 1px 1px #fff, 0px 0px #bbb;
    }
  }
  .pager-home{
    display: inline-block;
    line-height: 1;
    .fa{
      font-size: 38px;
      color: rgba(154, 154, 154, 0.5);
      text-shadow: 1px 1px 1px #fff, 0px 0px #bbb;
    }
    span{
      color: #999;
      font-size: 11px;
      display: block;
    }
  }
}

.post-comment-number {

}
