//*********************************************************************
//  投稿記事に関するスタイルを定義します。
//********************************************************************/
@charset "UTF-8";
@import "_variables.scss";
@import "comment.scss";


// トップ見出し
.title-main {
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  line-height: 1;
  letter-spacing: 1px;
  margin: 20px 0 30px;
  font-family: $fontfamily_menu;

  // 日本語を含む見出しのとき、フォントを変える
  &.include-japanese {
    font-size: 32px;
    font-family: $fontfamily_general;
    margin: 40px 0 50px;
  }

  &::before {
    display: none;
  }

  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    margin: 20px auto;
    background: $color_summary_symbol;
  }
}

// ページ全体のリード文
.content-description {
  text-align: center;
  margin-bottom: 40px;

  p {
    font-size: 12px;
  }
}

// カテゴリー一覧コンテナー
.content-category {
  text-align: center;
  box-sizing: border-box;
  background: #f7f7f7;
  border: 1px solid #e8e8e8;
  padding: 15px 0;
  margin: 0 auto 60px;
  width: 80%;

  // 見出し
  .title-sub {
    border: none;
    text-align: center;
    font-family: $fontfamily_category;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    margin-bottom: 6px;
    letter-spacing: 0.03em;
    line-height: 1;
  }

  // カテゴリー一覧
  .category-list {
    margin: 0;
    font-size: 0;

    li {
      display: inline-block;
      font-size: 13px;

      // 末尾にスラッシュを付ける
      &:not(:last-child) {
        &::after {
          content: "/";
          display: inline;
          margin: 0 4px;
        }
      }
    }
  }
}

// 記事コンテナー
.post-article {
  position: relative;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

// 記事タイトル
.post-title {
  border: none;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 1.3;

  .post-date {
    vertical-align: middle;
    width: auto;
  }

  a, a:link {
    text-decoration: none;
    font-weight: inherit;
  }
}

// カテゴリー
.post-category {
  text-align: right;

  a {
    border: 1px solid $color_summary_symbol;
    color: $color_summary_symbol;
    position: absolute;
    text-decoration: none;
    padding: 4px 3px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.03em;
    top: 0;
    right: 0;
    transition: opacity .2s;

    &:hover {
      opacity: .5;
    }
  }
}

// 記事内容
.post-text {
  display: flex;

  // アイキャッチ
  .thumbnail {
    margin-right: 0;
    float: none;
    width: 200px;

    // アイキャッチ画像
    img {
      width: 100%;
      height: auto;
      border: 1px solid #f1f1f1;
      padding: 7px;
      box-shadow: 0 0 5px rgba(0,0,0,0.05);
      box-sizing: border-box;
    }
  }

  // 本文
  .text {
    p {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

// 関連付けられたタグ
.post-tag {
  font-size: 0;
  margin-bottom: 0;

  a {
    display: inline-block;
    text-align: center;
    color: #a5a5a5 !important;
    background-color: #f7f7f7;
    border: 1px solid #efefef;
    margin: 0 4px 4px 0;
    padding: 4px 5px 3px 3px;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 0.03em;
    line-height: 1;
    transition: opacity .2s;

    &::before {
      display: inline;
      content: "#";
      opacity: .3;
      margin-right: 2px;
    }

    &:link {
      color: inherit;
    }

    &:hover {
      opacity: .7;
    }

    &:visited {
      color: inherit;
    }
  }
}

// 単一記事のコンテナー用の追加定義
.content.post {

  // トップ見出し
  .title-single-article {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0 30px 0px;
    letter-spacing: 1px;
    text-align: center;

    &::before {
      content: none;
    }

    // 投稿日時
    .post-date {
      display: block;
      text-align: center;
      width:auto;
    }
  }

  // 関連付けられたカテゴリー
  .post-category {
    text-align: center;
    margin-bottom: 40px;

    a {
      position: relative;
      right: auto;
      top: auto;
    }
  }

  // 記事本文
  .post-text {
    display: block;
    margin-bottom: 50px;

    // 段落下の見出し
    p + h2 {
      margin-top: 40px;
    }

    // 動画コンテンツ
    .youtube {
      margin-top: 10px;
      margin-bottom: 40px;
    }
  }

  // 関連付けられたタグ
  .post-tag {
    margin-bottom: 30px;
  }
}

// 記事のカウンター情報
.post-count {
  display: flex;
  color: #9a9a9a;
  justify-content: flex-end;
  margin-bottom: 20px;

  // コメント数
  .post-comment-number {
    margin-right: 9px;
  }
}

// 目次見出し
.ez-toc-section {
  font-weight: bold;

  b {
    font-weight: bold;
  }
}

// ページャー（記事一覧用）
.wp-pagenavi {
  text-align: center;
}

// ナビゲーター（単一記事用）
#navigator {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-flow: row;
  align-items: center;

  a {
    display: block;
    text-decoration: none;
    transition: all .2s;

    &:hover {
      opacity: .5;
    }
  }

  // 次へ・前へボタン
  .pager-arrow {
    font-size: 30px;

    .fa {
      font-size: 38px;
      color: rgba(154, 154, 154, 0.5);
      text-shadow: 1px 1px 1px #fff, 0px 0px #bbb;
    }
  }

  // 投稿ホームへ戻るボタン
  .pager-home {
    display: inline-block;
    line-height: 1;

    .fa {
      font-size: 38px;
      color: rgba(154, 154, 154, 0.5);
      text-shadow: 1px 1px 1px #fff, 0px 0px #bbb;
    }

    span {
      color: #999;
      font-size: 11px;
      display: block;
    }
  }
}

// SP専用の追加設定
@media screen and (max-width : $sp_max_width) {

  // ページ全体のリード文
  .content-description {
    text-align: left;
  }

  // カテゴリー一覧
  .content-category {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 80px;
  }

  // 記事コンテナー
  .post-article {
    margin-bottom: 60px;
    padding-bottom: 30px;
  }

  // 関連付けられたカテゴリー
  .post-category {
    a {
      font-size: 10px;
      top: -30px;
      left:0;
      right: auto;
      padding: 4px 3px 3px;
    }
  }

  // 記事タイトル
  .post-title {
    // 投稿日時
    .post-date {
      position: absolute;
      right: 0;
      top: -25px;
      margin-right: 0;
    }
  }

  // 記事本文
  .post-text {
    display: block;

    // アイキャッチ
    .thumbnail {
      width: 100%;
      margin: 0 0 15px 0;
    }

    // 本文
    .text {
      margin: 0;
    }
  }

  // 関連付けられたタグ
  .post-tag {
    a {
      font-size: 10px;
    }
  }
}
