
@charset "UTF-8";
@import "variables.scss";

/*********************************************************************
*  WORKS
*********************************************************************/

// カテゴリー
.post-category {
  text-align: right;
}

// タグ
.post-tag {
  a {
    display: inline-block;
    text-align: center;
    color: #a5a5a5!important;
    background-color: #f7f7f7;
    border: 1px solid #efefef;
    padding: 4px 5px 3px 3px;
    transition: opacity .2s;
    &::before{
      content: "#";
      display: inline;
    }

    &:link {
      color:inherit;
    }

    &:hover {
      text-decoration: none;
      opacity: .5;
    }

    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}
